.App {
  text-align: center;
}

.App-logo {
  height: 10;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2C2C54;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  background-color: #2C2C54; /* Your desired background color */
  padding: 40px; /* Adjust padding as needed */
  border-radius: 10px;
  width: 500px;
  display: flex;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
}

table {
  border-spacing: 0;
  border: 1px solid 6c63ff;
}

tr:last-child > td {
  border-bottom: 0;
}

th,
td {
  color: #6c63ff;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
th:last-child ,
td:last-child {
  border-right: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* her starter mitt */

h1 {
  color: #474787;
}

.signature {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color:#AAABB8;
  margin-top: 10vh;
}

.navigationBar {
  overflow: hidden;
  /* background: linear-gradient(to bottom, #2C2C54, #2C2C54 95%, #141432); // underline fade effect */
  position: fixed;
  top: 0px; /* Adjust this value to match the height of the header. */
  width: 100%;
  font-weight: bold;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C2C54;
  z-index: 1000; /* Ensure it's above other elements */
  margin: 0;
  padding: 0;
}

/* Media query for smaller screens (adjust the max-width as needed) */
@media screen and (max-width: 600px) {
  .navigationBar {
    height: auto;
    top: 0px;
    background-color: #2C2C54;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }

  .signature {
    margin-top: 10vh;
  }
}

.navigationBar a {
  font-family: Courier New;
  font-size: 20px;
  font-weight: bold;
  float: left;
  display: block;
  color: #AAABB8;
  text-align: center;
  padding: 14px 20px;
  margin: 0px;
  text-decoration: none;
  background: linear-gradient(to bottom, #2C2C54, #2C2C54 100%, #141432);
}


/* Change color on hover */
.navigationBar a:hover {
  background-color: #AAABB8;
  color: black;
  line-height: 100%;
}

/* Active/current link */
.navigationBar a.active {
  background-color: #666;
  color: white;
}

/* Default link styles */
a {
  color: grey; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover effect */
a:hover {
  color: #e7e7ec; /* Change color on hover */
  border-bottom: 1px solid black; /* Thin line on the right side */
}

/* Active link styles (when clicked) */
a:active {
  color: #0b0721; /* Active link color */
}

.phone {
  color: grey;
}

.phone:hover {
  color: #e7e7ec;
}

.projectLink {
  color: gray;
  background-color: #2C2C54;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  &:hover {
    background-color: #141432; /* Darker purple on hover */
    color: #6c63ff; /* White color on hover */
  }
}

.search {
  width: 200px; /* Set your desired width */
  margin: 10px; /* Add some margin for spacing */
  color: #6c63ff; /* Grey text color */
}



/* Responsive layout - when the screen is less than 400px wide, 
make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navigationBar a {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 700px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ECECEC;
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {  
  /* display: -ms-flexbox; IE10 */
  display: flex;
  /* -ms-flex-wrap: wrap; IE10 */
  /* flex-wrap: wrap; */
  /* flex: 1; */
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex:0 0 30%; /* IE10 */
  background-color: #ECECEC;
  padding: 20px;
  border-right: 1px solid #ddd; /* Thin line on the right side */
}

/* Main column */
.main {   
  flex: 1; 
  background-color: #ECECEC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

/* Center the content inside .main */
.main > * {
  margin: 100px;
  position: right;
}

.displayWindows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subWindow {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  background-color: #6c63ff; /* Purple color */
  color: #333; /* Grey color */
  font-size: 2.5em; /* Adjust the font size as needed */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Optional: Add hover effect */
  &:hover {
    background-color: #524ccc; /* Darker purple on hover */
    color: #fff; /* White color on hover */
  }
}

/* Fake image, just for this example */
.image {
  margin-bottom: 10px;
}

.codeImg {
  height: 350px;
  width: 280px;
}

.profilepicture {
  width: 350px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  border-radius: 15%; /* This will create a circular shape (rounded corners) */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  display: block;
  margin: auto; /* Center the image horizontally */
  /* position: relative; */
}

.footer {
  padding: 5px;
  text-align: center;
  background: #ECECEC;
  color: #2C2C54;
  bottom: 0%;
  width: 100%;
  font-size: small;
  opacity: 50%;
}

.textbox {
  width: 500px; /* Set your desired width */
  padding: 10px; /* Set your desired padding */
  border: 1px solid #ccc; /* Border color */
  border-radius: 15px; /* Rounded corners */
  outline: none; /* Remove default input focus outline */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-size: 16px; /* Set your desired font size */
  position: relative;
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  display: block;
  margin: auto; /* Center the text horizontally */
  background-color: #2C2C54;
}

/* Optional: Add hover and focus styles for a subtle effect */
.textbox:hover,
.textbox:focus {
  border-color: #666; /* Border color on hover/focus */
}

.course {
  color:#282c34;
}

.experienceItem {
  background-color: #2C2C54;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.companyName {
  font-size: 1.5em;
  font-weight: bold;
  color: #6c63ff; /* Purple color */
}

.dateRange {
  font-size: 1.2em;
  color: #6c63ff; /* Purple color */
}

.jobDescription {
  margin-top: 10px;
  color: gray; /* Black color for job description */
}